.navbar {
  background-color: #fff;
}
.header-container {
  height: 95px;
  .navbar {
    padding: 0;
  }
  .container-fluid {
    padding: 0;
  }
}
.header-menu {
  .logo-container {
    line-height: 2;
    .header-logo {
      padding: 30px 10px 32px 30px;
      width: 200px;
    }
  }
  .nav-item {
    margin: 32px 0px 33px 30px;
    .nav-link {
      position: relative;
      color: #0b1d35;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }

    .nav-link:hover {
      color: #0b1d35;
    }
    .nav-link::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0b1d35;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    .nav-link:hover::before {
      transform: scaleX(1);
    }
  }
  .form-inline {
    .btn {
      font-weight: 700;
      color: #0b1d35;
      margin: 32px 0px 33px 30px;
    }
    .btn-signup {
      border-color: #0b1d35;
    }
    .btn-login {
      color: #fff;
      background-color: #0b1d35;
    }
    button {
      border-radius: 0;
    }
    .btn-shop {
      margin: 0 0 0 30px;
      height: 113px;
      width: 130px;
      background-color: #78c147;
      img {
        text-align: center;
        width: 40%;
      }
    }
  }
}
