.form-container {
  .el-form-item__content {
    line-height: unset;
  }
  padding: 0 3.5rem;
  .overwrite-label-login {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #3c4a5d;
  }

  .overwrite-label-login-change {
    display: flex;
    justify-content: flex-end;
    a {
      color: #134b96;
      font-size: 16px;
      font-weight: 600;
      text-decoration: underline solid #134b96 2px;
    }
    a:hover {
      cursor: pointer;
    }
  }

  .member-number-field {
    .el-input__inner {
      background: #e7e9eb;
      border-color: #ced2d7;
      color: #0b1d35;
    }
  }

  .overwrite-form-item-login {
    width: 100%;
    .el-input__inner,
    .el-textarea__inner {
      padding: 0.5rem 0.75rem;
      background: #e7e9eb;
      gap: 12px;
      align-self: stretch;
      border-color: #ced2d7;
    }
  }

  .el-button {
    background: #a1d47e;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }
  .overwrite-label-note {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    a {
      color: #0b1d35;
      font-size: 18px;
      font-weight: 600;
      text-decoration: underline solid #0b1d35 2px;
    }
  }
}
